PCSynergyWebServices/CRMWebClient/CRMWebClient/Service References/CRMWebService/CRMWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRMWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:21954/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:21954/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:21954/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMWebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICRMWebService_searchForTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:searchForTickets" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_searchForTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchForTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_getTicketDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:getTicketDetails" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_getTicketDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTicketDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_createNewTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:createNewTicket" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_createNewTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:createNewTicketResponse" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_updateTicket_InputMessage">
    <wsdl:part name="parameters" element="tns:updateTicket" />
  </wsdl:message>
  <wsdl:message name="ICRMWebService_updateTicket_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateTicketResponse" />
  </wsdl:message>
  <wsdl:portType name="ICRMWebService">
    <wsdl:operation name="searchForTickets">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMWebService/searchForTickets" message="tns:ICRMWebService_searchForTickets_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMWebService/searchForTicketsResponse" message="tns:ICRMWebService_searchForTickets_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTicketDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMWebService/getTicketDetails" message="tns:ICRMWebService_getTicketDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMWebService/getTicketDetailsResponse" message="tns:ICRMWebService_getTicketDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="createNewTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMWebService/createNewTicket" message="tns:ICRMWebService_createNewTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMWebService/createNewTicketResponse" message="tns:ICRMWebService_createNewTicket_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateTicket">
      <wsdl:input wsaw:Action="http://tempuri.org/ICRMWebService/updateTicket" message="tns:ICRMWebService_updateTicket_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICRMWebService/updateTicketResponse" message="tns:ICRMWebService_updateTicket_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CRMWebService" />
</wsdl:definitions>