PCSynergyWebServices/CRMWebClient/CRMWebClient/Service References/CRMWebService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:21954/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CRMWebServices" />
  <xs:element name="searchForTickets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="constraints" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="searchForTicketsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="searchForTicketsResult" nillable="true" type="q1:ArrayOfTicketListing" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getTicketDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CRMWebServices" minOccurs="0" name="getTicketDetailsResult" nillable="true" type="q2:TicketDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketInformation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="createNewTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="createNewTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ticketInformation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="updateTicketResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>